{% extends 'base.html' %} {% block title %}Contact - My Flask Site{% endblock %}
{% block content %}

<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">NSW</a></li>
    <li><a class="dropdown-item" href="#">QLD</a></li>
    <li><a class="dropdown-item" href="#">WA</a></li>
    <li><a class="dropdown-item" href="#">SA</a></li>
    <li><a class="dropdown-item" href="#">TAS</a></li>
    <li><a class="dropdown-item" href="#">ACT</a></li>
    <li><a class="dropdown-item" href="#">NT</a></li>
  </ul>
</div>

<!-- Map Column -->
<div class="col-lg-6 mb-4">
  <div class="map-container">
    <iframe
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d504475.07844276296!2d151.0066237456368!3d-33.83422496880017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1svolleyball%20clubs%20in%20nsw!5e0!3m2!1sen!2sau!4v1784770988051!5m2!1sen!2sau" 
      width="600" 
height="450" style="border:0;" allowfullscreen="no" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
  </div>

  {% endblock %}
</div>
