{% extends 'base.html' %} {% block title %}Contact - My Flask Site{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row align-items-center">
    <!-- Text on the left -->
    <div class="col-md-7">
      <h2>What is NPP and what is it used for</h2>
      <p>
        NPP is the stepping stone for playing volleyball on the international
        level, after making your teams state you play at nationals, when you
        play at nationals coaches are looking at your abilities NPP is
        invitation only program, it is a 7 day camp where the best players are
        picked for Australian devolpement team program. The best of these
        players will be picked to go represent australia at the AVC.
      </p>
    </div>

    <!-- Image on the right -->
    <div class="col-md-5 text-center">
      <img
        src="images/photo.jpg"
        alt="photo"
        class="img-fluid rounded"
        style="max-width: 350px"
      />
    </div>
  </div>
</div>
{% endblock %}
